@{
  Layout = "_Layout";
}

<center>
@using Tracker.Models;
<br>
<br>
<h1><b><i>@Model["vendor"].Description Orders</i></b></h1>
<br>


  @foreach (Order order in @Model["orders"])
    {
      <h3><b><i><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></i></b></h3>
    }

<br>
<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add New Order</a></p>
<p> <a href='/vendors'>Vendor Overview</a></p>
<p> <a href='/'>Home</a></p>
</center>
