@{
  Layout = "_Layout";
}

<center>
<h1 style="margin-left: 40px">Add New Order To <strong><i>@Model.Description</i></strong></h1>
<br>
<form style="margin-left: 40px" action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderDescription">Order Description</label>
  <input id="orderDescription" name="orderDescription" type="text">

  <label for="quantityDescription">Quantity</label>
  <input id="quantityDescription" name="quantityDescription" type="text">

  <label for="priceDescription">Price</label>
  <input id="priceDescription" name="priceDescription" type="text">

  <label for="dateDescription">Date</label>
  <input id="dateDescription" name="dateDescription" placeholder="mm/dd/yyyy" type="text">
  <br>
  <br>
  <br>
  <button class="btn btn-success" type='submit'>Add Order</button>
</form>
</center>
